<div class="panel-heading">problems</div>
	<input type="hidden" name="problems" id="problems" value="${res}" />
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>题目</th>
				<th>类型</th>
				<th>状态</th>
				<th>用户</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="optionBody">
			#foreach ($opt in $res)
				<tr onclick=";">
					<td>
						<p type="text" class="form-control" name="date">${opt.date}</p>
					</td>
					<td>
					#set($str=${opt.problemNo})
					#if($str.length()>30)
					#set($str=$str.substring(41,46))
					 #end
						<a href="${opt.problemNo}" class="form-control"
						name="problemNo" target="_blank">$str</a>
					</td>
					<td>
						<p type="text" class="form-control" name="type">${opt.type}</p>
					</td>
					<td>
						<p type="text" class="form-control" name="status">${opt.status}</p>
						
					</td>
					<td>
						<p type="text" class="form-control" name="respondent">${opt.respondent}</p>
					</td>
					#if(${opt.status}!=1)
					<td>
						<button class="btn btn-primary btn-lg" onclick="javascript:updCfStatus('${opt.problemNo}')">
						完成
						</button>
					</td>
					#end
				</tr>
			#end	
		</tbody>
	</table>
	
</div>
