<div class="panel-heading">problems</div>
	<input type="hidden" name="problems" id="problems" value="${res}" />
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>结果</th>
			</tr>
		</thead>
		<tbody id="optionBody">
			#foreach ($opt in $res)
				<tr onclick=";">
					<td>
						<input type="text" class="form-control"
						name="problemNo" value="${opt}"></input>
						<input type="hidden" name="problemNoorginal" value="${opt}"></input>
					</td>
					<td>
						<div>依据turtle法律第357章174条规定：选定离手，当日得变更选择，并必须依据结果实施</div>
					</td>
				</tr>
			#end	
		</tbody>
	</table>
	
</div>