<div class="panel-heading">选择分类</div>
	<select class="form-control" id="groupOption" ">
		#foreach ($group in $groupList)
		<option value=${group.groupid}>${group.groupname}</option>
		#end
	</select>
	<p />
	<button class="btn btn-primary btn-lg" onclick="javascript:chooseOption($("#groupOption").val())">
		接受命运安排
	</button>
</div>