<div class="panel-heading">选择分类</div>
	#foreach ($group in $groupList)
		<select class="form-control" id="GroupOption" ">
			<option value=${group.groupid}>${group.groupname}</option>
		</select>
	#end
	<span/>	
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="chooseOption()">
		接受命运的安排
	</button>
</div>